train_path="/home/sekine/CharLevelChemdner/Repository/SeqData/train_fs.csv"
test_path="/home/sekine/CharLevelChemdner/Repository/SeqData/test_fs.csv"
predicted_path="/home/sekine/CharLevelChemdner/Repository/SeqData/predicted_fs.csv"
batchsize=100
epoch=100
token_embed_dim=50
char_embed_dim=30
lstm_dim=300
dropout=0.5
initial_rate = 0.005
weight_decay = 0.0000001
save_model = "/home/sekine/CharLevelChemdner/Repository/TrainedModel/first_sync_ver2.model"
load_model = "/home/sekine/CharLevelChemdner/Repository/TrainedModel/first_sync_ver2.model"
gpu=1
